@import url('https://fonts.googleapis.com/css?family=Barlow:900|Roboto');

// variables
$font-body: 'Roboto', "Helvetica Neue", "Arial", sans-serif;
$font-body-weight: 400;
$font-body-size: 16px;

$font-heading: 'Barlow', "HelveticaNeue-CondensedBold", "Arial Black", sans-serif;
$font-heading-weight: 900;
$font-heading-size: 2.4em;
$font-heading-letterspacing: 0.025em;
$color-heading-background: lightgrey;

$color-background: #f5f5f5;

// Styling
body {
  background: $color-background;
  font-size: $font-body-size;
}

h1 {
  font-family: $font-heading;
  font-weight: $font-heading-weight;
  // background: $color-heading-background;
  font-size: $font-heading-size;
  letter-spacing: $font-heading-letterspacing;
  
}

p {
  font-family: $font-body;
  font-weight: $font-body-weight;
}

section {
  display: flex;
  flex-direction: row;
  
}
svg#computer {
  margin: auto;
  max-width: 20em;
  max-height: 50vh;
  // background: $color-heading-background;

}
div#announcement {
  margin: 0 auto;
  
}
