// Colors
$font-color: rgb(49, 49, 49);
$font-thanks-color: rgb(141, 141, 141);
$color-heading-background: rgb(197, 197, 197);
$color-background: rgb(255,255,255);

// Font Styles
$font-body: 'Roboto', "Helvetica Neue", "Arial", sans-serif;
$font-body-weight: 400;

$font-heading: 'Barlow', "HelveticaNeue-CondensedBold", "Arial Black", sans-serif;
$font-heading-weight: 900;

// Mobile Font Sizing
$font-body-size: 16px;

$font-thanks-size: 1em;
$font-thanks-letterspacing: 0.08em;

$font-heading-size: 1.8em;
$font-heading-letterspacing: 0.025em;

// Tablet Font Sizing
// Desktop Font Sizing